header {
  background-color: #333;
  a {
    display: inline-block;
    padding: 1% 4%;
    margin: 0 0;
  }
}
body {
  background-color: #222;
}
h1,
h2 {
  color: #ffa600;
  text-transform: uppercase;
}
h1 {
  text-align: center;
}
section {
  background-color: #444;
  color: #fff;
}
a {
  color: #fff;
  background-color: #000;
}
aside {
  display: none;
}
